@model  CatDatingSite.Models.Blog

@{
    /**/

    ViewBag.Title = "AddBlog";
}

<h2>AddBlog</h2>
@using (Html.BeginForm("AddBlog", "Blog", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-2"><b>Virsraksts:</b></div>
        <!-- EditorFor uzģenerē lauciņu-->
        <div class="col-md-2">
            <p>
                @Html.EditorFor(Model => Model.BlogName)
            </p>
        </div>
        <p></p>

    </div>
    <div class="row">
        <div class="col-md-2"><b>Bloga Autors:</b></div>
        <div class="col-md-2"><p>@Html.EditorFor(Model => Model.BlogAuthor)</p></div>
        <p> </p>
    </div>


    <div class="row">
        <div class="col-md-2"><b>Attēls:</b></div>
        <div class="col-md-2"><p>@Html.EditorFor(Model => Model.BlogImage)</p></div>
        <p></p>

    </div>

    <div class="row">
        <div class="col-lg-2"><b>Teksts:</b></div>
        <div class="col-lg-2"><p>@Html.EditorFor(Model => Model.BlogDescription)</p></div>
        <p>@Html.ValidationMessageFor(Model => Model.BlogDescription)</p>

    </div>

    <div class="row">
        <div class="col-md-2"><b>E-pasts:</b></div>
        <div class="col-md-2"><p>@Html.TextBoxFor(m => m.Blogemail, new { @placeholder = "E-mail" })</p></div>
        <p>@Html.ValidationMessageFor(Model => Model.Blogemail)</p>
             

    </div>

        
    <input type="submit" value="Publicēt Blogu" />
}

