<!-- lai rakstītu komentarus ir jāievada <!--
    mums no sākuma bija tikai CatDatingSite.Models.CatProfile, taču, tad ņem tikai vienu profilu
    lai viņš ņemtu vairākus un no saraksta, jāpievieno List priekšā un iepriekšējā info jāieliek <>  -->

@model  List<CatDatingSite.Models.Blog>
    @{
        ViewBag.Title = "Home Page";
    }


<div class="row">

    <p>
        @Html.ActionLink("pievienot Blogu", "AddBlog", "Blog")
    </p>
 


    <!-- nosākuma, kad nebija Lists,mēs likām meklēt name, age utt atModel.CatName
        Bet tā kā mums ir lists, sistēma met error pie atModel.CatName, CatAge utt...izmantojam foreach funkciju
        pirms katra c# koda, liekam "at" un mum sir jāizveido jauns mainīgais, ko nosaucam "cat", kurš atrodas šajā Model
        un sistēmai liekam meklet nevis model, bet atcat.CatName utt-->
    @foreach (var blog in Model)

    {
       
    <div class="col-md-12">

        <center> <h2>@blog.BlogName</h2> </center>
        <center><p> Autors: @blog.BlogAuthor, @blog.BlogCreated, @blog.BlogEdited </p> </center>
        <center> <img src="@blog.BlogImage" /> </center>
        <center> <p>
            @blog.BlogDescription
        </p> </center>
        <p><center>@Html.ActionLink("Rediģēt Blogu", "EditBlog", "Blog", new { editableBlogId = blog.BlogID }, null)</center></p>
        <p><center> @Html.ActionLink("Nodzēst Blogu", "DeleteBlog", "Blog", new { deletableBlogId = blog.BlogID }, null)</center></p>
    </div>
    }



</div>